.addstudentsadmin{
    background-color: whitesmoke;
    height: 100vh;
}

.addProductItem {
    width: 350px;
    display: flex;
   
    flex-direction: column;
    margin-bottom: 10px;
}

.addProductItem>label {
    color: rgb(134, 25, 201);
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 4px;
}

.addProductItem>input {
    padding: 10px 20px;
    border-radius: 3px;
}

.addProductItem>select {
    padding: 10px;
}
